body {
  margin: 3% 10% 3% 10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 1.5s ease-in-out;
}

.morning {
  background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-color: #e0f7ffa8;
}

.afternoon {
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-color: whitesmoke;
}

.evening {
  background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-color: #ffc3b8;
}

.night {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-color: #0f2027;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
}

body.night::before {
  background: rgba(0, 0, 0, 0.6);
}

/* text colors for night theme */
.night #current_time,
.night #current_date {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.timeAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current_time,
#current_date {
  display: block;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.current_subject,
.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.current_subject {
  margin: 1% auto;
}

.day-display {
  display: block;
  margin-bottom: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  color: #1f2937;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.current .table-title {
  text-align: center;
  /* margin-bottom: 0; */
  /* font-size: 28px; */
  padding: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.current {
  margin-bottom: 3.5rem;
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

.table-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.3rem;
  text-align: center;
}

.time-title {
  background: linear-gradient(135deg, #1e40af 0%, #3b82f6 100%);
  color: white;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.time {
  background-color: #dbeafe;
  color: #1e40af;
  height: 4.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  border: 1px solid #93c5fd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.subject {
  background-color: #dcfce7;
  color: #15803d;
  height: 4.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  border: 1px solid #86efac;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.subject-title {
  background: linear-gradient(135deg, #15803d 0%, #16a34a 100%);
  color: white;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.lab-title {
  background: linear-gradient(135deg, #047857 0%, #059669 100%);
  color: white;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.lab {
  background-color: #d1fae5;
  color: #065f46;
  height: 4.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  border: 1px solid #6ee7b7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.lecture-title {
  background: linear-gradient(135deg, #6d28d9 0%, #7c3aed 100%);
  color: white;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.lecture {
  background-color: #f3e8ff;
  color: #6b21a8;
  height: 4.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  border: 1px solid #ddd6fe;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.sunday {
  background: linear-gradient(135deg, #fef2f2, #fee2e2, #fecaca);
}

.monday {
  background: linear-gradient(135deg, #9693d0, #7ab0f7, #7979fd);
}

.tuesday {
  background: linear-gradient(135deg, #f0fdf4, #dcfce7, #bbf7d0);
}

.wednesday {
  background: linear-gradient(135deg, #faf5ff, #f3e8ff, #e9d5ff);
}

.thursday {
  background: linear-gradient(135deg, #fef3c7, #fde68a, #fcd34d);
}

.friday {
  background: linear-gradient(135deg, #fce7f3, #f9a8d4, #f472b6);
}

.saturday {
  background: linear-gradient(135deg, #e0f2fe, #bae6fd, #7dd3fc);
}

.upcoming {
  background: linear-gradient(135deg, #3374c4, #3b82f6, #0e3a98);
  border-left: 0.4rem solid #041b64;
}

.current-lecture {
  background: linear-gradient(135deg, #a78bfa, #8b5cf6, #ec489aab);
  border-left: 0.4rem solid #5d056f;
}

.ended {
  background: linear-gradient(135deg, #f76666, #d78c35, #fb1818);
  border-left: 0.4rem solid #5b0308;
}

/* Mobile */
@media (max-width: 680px) {
  .timeAndDate {
    margin-top: 2rem;
  }
  #current_time,
  #current_date {
    font-size: 33px;
  }
  .table-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  .table-title {
    margin-bottom: 0.6rem;
    font-size: 24px;
  }
  .day-display {
    font-size: 30px;
  }
  .time-title {
    font-size: 22px;
  }
  .lab-title {
    font-size: 22px;
  }
  .lecture-title {
    font-size: 22px;
  }
  .subject-title {
    font-size: 22px;
  }
}

/* Tablet */
@media (min-width: 680px) and (max-width: 769px) {
  .timeAndDate {
    margin-top: 2rem;
  }
  #current_time,
  #current_date {
    font-size: 40px;
  }
  .table-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    text-align: center;
  }
  .table-title {
    margin-bottom: 0.6rem;
    font-size: 33px;
  }
  .day-display {
    font-size: 32px;
  }
  .time-title {
    font-size: 24px;
  }
  .lab-title {
    font-size: 24px;
  }
  .lecture-title {
    font-size: 24px;
  }
  .subject-title {
    font-size: 24px;
  }
}

/* Small laptop */
@media (min-width: 769px) and (max-width: 1025px) {
  #current_time,
  #current_date {
    font-size: 40px;
  }
  .table-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    text-align: center;
  }
  .table-title {
    font-size: 28px;
    margin-bottom: 0;
  }
  .time-title {
    font-size: 18px;
  }
  .lab-title {
    font-size: 18px;
  }
  .lecture-title {
    font-size: 18px;
  }
  .subject-title {
    font-size: 18px;
  }
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
  #current_time,
  #current_date {
    font-size: 40px;
  }
  .table-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.4rem;
    text-align: center;
  }

  .table-title {
    font-size: 28px;
    margin-bottom: 0;
  }
  .time-title {
    font-size: 20px;
  }
  .lab-title {
    font-size: 20px;
  }
  .lecture-title {
    font-size: 20px;
  }
  .subject-title {
    font-size: 20px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .timeAndDate {
    margin-top: 4rem;
  }
  #current_time,
  #current_date {
    font-size: 50px;
  }
  .table-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.4rem;
    text-align: center;
  }

  .table-title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .day-display {
    font-size: 38px;
  }
  .time-title {
    font-size: 27px;
  }
  .lab-title {
    font-size: 27px;
  }
  .lecture-title {
    font-size: 27px;
  }
  .subject-title {
    font-size: 27px;
  }
  .time {
    font-size: 24px;
  }
  .lecture {
    font-size: 24px;
  }
  .lab {
    font-size: 24px;
  }
  .subject {
    font-size: 24px;
  }
}
